body{
    background-color: aquamarine;
    background-image: url("https://img.freepik.com/premium-photo/concept-communication-contact-us-customer-support-hotline-people-connect-business-hand-touching-virtual-screen-contact-icons-email-address-live-chat-with-internet-wifi_162459-2015.jpg");
    text-align: center;
    color: beige;

}

